* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../Imagen/gra.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 20px;
}

.icono{
  margin: 0;
  border-color: rgb(255, 255, 255);
  border-style: double;
}

#sección-principal {
  text-align: center;
}

img {
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

._accesorios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  border-color: beige;
  border-style: double;
  padding: 10px;
}

.collares {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color:rgb(194, 114, 40);
  padding: 30px;
}

.textu {
  text-align: center;
  padding: 30px;
  color: rgb(194, 114, 40);
  font-size: 15px;
}

#nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.encontranos {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(194, 114, 40);
}

.sets {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color: rgb(194, 114, 40);
  padding: 30px;
}

.texta {
  text-align: center;
  padding: 30px;
  color: rgb(194, 114, 40);
  font-size: 15px;
}

.mapa1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text2 {
  text-align: center;
  width: 200px;
  border-color: white;
  border-style: double ;
  color: rgb(194, 114, 40)
}

.footer {
  background-color: rgb(214, 163, 114);
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 30px;
}

.contactanos {
  padding-bottom: 20px;
  text-align: center;
  color: rgb(197, 148, 103);
}

fieldset {
  border: none;
}

.formulario {
  background-color: rgb(197, 148, 103);
  width: min(600px, 100%);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.la{
flex-direction: row;
padding: 10px;
}

.edicion{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "el corazon cadena"
  "el cadena2 corazon2";
}

.el{
  grid-area: el;
}

.corazon{
  grid-area: corazon;
}

.cadena{
  grid-area: cadena;
}

.cadena2{
  grid-area: cadena2;
}

.corazon2{
  grid-area: corazon2;
}

.edicion > div{
  display: flex;
  justify-content: center;
  color: rgb(194, 114, 40);
}

.edicion2{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "el p1 p2"
  "el p3 p4";
}

.p1{
  grid-area: p1;
}

.p2{
  grid-area: p2;
}

.p3{
  grid-area: p3;
}

.p4{
  grid-area: p4;
}

.edicion2 > div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(194, 114, 40);
}

.pulseras{
  text-align: center;
  padding: 30px;
  color: rgb(194, 114, 40);
  font-size: 15px;
}

.nav-item a {
    color: rgb(194, 114, 40);
}

.col {
position: absolute; 
}