@charset "UTF-8";
.footer {
  background-color: rgb(214, 163, 114);
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 30px;
}
.footer .container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
.container1 .nav-item a {
  color: rgb(146, 73, 5);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../imagen/gra.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sección-principal {
  text-align: center;
}
#sección-principal .container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.icono {
  margin: 0;
  border-color: rgb(255, 255, 255);
  border-style: double;
}

._accesorios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  border-color: beige;
  border-style: double;
  padding: 10px;
  text-align: center;
  color: rgb(194, 114, 40);
}

.text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text .text2 {
  text-align: center;
  width: 450px;
  border-color: white;
  border-style: double;
  color: rgb(194, 114, 40);
  font-weight: bold;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

.textu {
  text-align: center;
  padding: 30px;
  color: rgb(194, 114, 40);
  font-size: 15px;
}

.collares {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color: rgb(194, 114, 40);
  padding: 30px;
}

.edicion {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "el corazon cadena" "el cadena2 corazon2";
}
.edicion .el {
  grid-area: el;
}
.edicion .corazon {
  grid-area: corazon;
}
.edicion .cadena {
  grid-area: cadena;
}
.edicion .cadena2 {
  grid-area: cadena2;
}
.edicion .corazon2 {
  grid-area: corazon2;
}
.edicion .col {
  position: absolute;
}

.edicion > div {
  display: flex;
  justify-content: center;
  color: rgb(194, 114, 40);
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

.texta {
  text-align: center;
  padding: 30px;
  color: rgb(194, 114, 40);
  font-size: 15px;
}

.sets {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color: rgb(194, 114, 40);
  padding: 30px;
}

.pulseras {
  text-align: center;
  padding: 30px;
  color: rgb(194, 114, 40);
  font-size: 15px;
}

.edicion2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "el p1 p2" "el p3 p4";
}
.edicion2 .el {
  grid-area: el;
}
.edicion2 .p1 {
  grid-area: p1;
}
.edicion2 .p2 {
  grid-area: p2;
}
.edicion2 .p3 {
  grid-area: p3;
}
.edicion2 .p4 {
  grid-area: p4;
}
.edicion2 .col {
  position: absolute;
}

.edicion2 > div {
  display: flex;
  justify-content: center;
  color: rgb(194, 114, 40);
  align-items: center;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

.encontranos {
  text-align: center;
  color: rgb(194, 114, 40);
}

.mapa1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.mapa1 .dire {
  color: rgb(194, 114, 40);
  font-size: 15px;
  border-color: white;
  border-style: double;
  margin: 0 auto;
  padding: 2opx;
  width: 300px;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

.la {
  flex-direction: row;
  padding: 10px;
}
.la .formulario {
  background-image: url(../imagen/formu.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(600px, 100%);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.la fieldset {
  border: none;
}

.contactanos {
  padding-bottom: 20px;
  text-align: center;
  color: rgb(197, 148, 103);
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

/*# sourceMappingURL=style.css.map */
