._accesorios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  border-color: beige;
  border-style: double;
  color: $color-principal;
}

.text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .text2 {
    text-align: center;
    width: 450px;
    border-color: white;
    border-style: double;
    color: $color-principal;
    font-weight: bold;
  }
}
