.textu {
  text-align: center;
  padding: 30px;
  color: $color-principal;
  font-size: 15px;
  margin-left: 400px;
  margin-right: 400px;
}
.collares {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color: $color-principal;
  padding: 30px;
}

.edicion {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "el corazon cadena"
    "el cadena2 corazon2";

  .el {
    grid-area: el;
  }

  .corazon {
    grid-area: corazon;

    .col {
      position: absolute;
    }
  }

  .cadena {
    grid-area: cadena;
    .col {
      position: absolute;
    }
  }

  .cadena2 {
    grid-area: cadena2;
    .col {
      position: absolute;
    }
  }

  .corazon2 {
    grid-area: corazon2;
    .col {
      position: absolute;
    }
  }
}

.edicion > div {
  display: flex;
  justify-content: center;
  color: $color-principal;
}
