.textu {
  text-align: center;
  padding: 30px;
  color: $color-principal;
  font-size: 15px;
  margin-right: 25%;
  margin-left: 25%;
}
.collares {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color: $color-principal;
  padding: 30px;
}

.edicion {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "el corazon cadena"
    "el cadena2 corazon2";

  .el {
    grid-area: el;
  }

  .corazon {
    grid-area: corazon;
  }

  .cadena {
    grid-area: cadena;
  }

  .cadena2 {
    grid-area: cadena2;
  }

  .corazon2 {
    grid-area: corazon2;
  }
  .col {
    position: absolute;
  }
}

.edicion > div {
  display: flex;
  justify-content: center;
  color: $color-principal;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
