.encontranos {
  text-align: center;
  color: $color-principal;
  margin-right: 25%;
  margin-left: 25%;
}

.mapa1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .dire {
    color: $color-principal;
    font-size: 15px;
    border-color: white;
    border-style: double;
    margin: 0 auto;
    padding: 2opx;
    width: 300px;
  }
}

.container1 {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
