.texta {
  text-align: center;
  padding: 30px;
  color: $color-principal;
  font-size: 15px;
  margin-left: 400px;
  margin-right: 400px;
}
.sets {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
  color: $color-principal;
  padding: 30px;
}

.pulseras {
  text-align: center;
  padding: 30px;
  color: $color-principal;
  font-size: 15px;
  margin-left: 400px;
  margin-right: 400px;
}

.edicion2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "el p1 p2"
    "el p3 p4";

  .el {
    grid-area: el;
  }

  .p1 {
    grid-area: p1;
    .col {
      position: absolute;
    }
  }

  .p2 {
    grid-area: p2;
    .col {
      position: absolute;
    }
  }

  .p3 {
    grid-area: p3;
    .col {
      position: absolute;
    }
  }

  .p4 {
    grid-area: p4;
    .col {
      position: absolute;
    }
  }
}

.edicion2 > div {
  display: flex;
  justify-content: center;
  color: $color-principal;
  align-items: center;
}
